*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
#header {
    padding: 50px 140px 0 140px;
}
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    position: relative;
    background-size: cover;
    border-radius: 16px;
    margin: 0 auto;
    width: 1320px;
    height: 600px;
}

.banner h3 {
    color: #FFF;
    padding: 177px 0 0 0;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    color: #FFF;
    padding: 0 344px 0 344px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}
.off {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.off h1 {
    color: #F00;
    
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin: 0 auto;
    justify-content: center;
    padding-top: 80px;
}

.off h4 {
    color: #F00;
    padding: 20px 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.off h2 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.off .HNY {
    max-width: 100%; 
    padding: 70px 0 140px 0px; 
}

.wlc {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wlc .x {
    
    width: 700px;
}

.wlc h1 {
    color: #FFF;
    padding: 26px 0px 10px 126px;
    margin-right: 0px;
    font-family: Merriweather;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 6.04px;
}

.wlc p {
    color: rgba(255, 255, 255, 0.80);
    padding: 0 0px 0 126px;
    width: 800px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0; 
}

.wlc .num {
    display: flex;
    position: relative;
    padding-right: 90px;
}


.wlc .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 26px 0 0 126px;
    text-decoration: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.80);
    height: 100%;
    font-size: 20px;
    font-weight: 550;  
    cursor: pointer;

}

.event {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    padding-top: 40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px auto;
}

.event .event-d {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 110px;
}

.event .type {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
}

.event p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.event .btn-box2 {
    padding-top: 30px;
}

.event .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 200px;
    height: 70px;
    background: red;
    border: 3.2px solid red;
    border-radius: 16px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.6px; 
}

.event .btn2:hover {
    background: darkred;
    border-color: darkred;
    color: #FFF;
}

.offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    justify-content: center;
    width: 1320px;
    height: 482px;
    

}

.offer .text {
    padding: 100px 60px 30px 20px;

}

.offer .text p {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.offer .text h1 {
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.offer .text .dis {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    width: 393px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.offer .offer-img img {
    border: 15px solid red;
    border-radius: 50%;
    padding: 20px;
}

.offer .text2 {
    padding: 160px 0 0 180px;
    display: flex;
    flex-direction: column;
}

.offer .text2 .age {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.offer .text2 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    width: 276px;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 20px;
}
.offer .text2 img {
    text-align: left;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    
}
.offer img {
    padding: 0 auto;
}

.function {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 1320px;
    height: 482px;
}

.function .f1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
}

.function h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 30px;
}
span {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.function p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    width: 1068px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.gift {
    height: 1200px;
    width: 1320px;
    margin: 0 auto;
    
}

.gift .best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.gift h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    width: 896px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    padding-bottom: 30px;
}
.gift .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
}
.gift .grid .grid-item {
    padding: 10px; 
    position: relative;
    overflow: hidden;
}

.gift .grid .grid-item:hover {
    border: 3px solid transparent; 
}

.gift .grid .grid-item:hover img {
    opacity: 0.8; 
}

.gift .grid img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    transition: opacity 0.3s ease; 
}

.news {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 120px auto; 
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}


.news img {
    padding-bottom: 20px;
}

.news h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.news .letter {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    width: 896px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 0 20px 20px;
}

.news form input {
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0px 50px;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 20px;
    outline: none;
    box-sizing: border-box;
} 


.news form input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    position: relative;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.news form button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news form button:hover {
    background-color: #9c0606;
}


.footer {
    width: 1600px;
    height: 609px;
    background: #070211; 
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 60px; 
}

.footer .upper {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 40px;
    margin: 0 auto; 
    color: #FFF;
    padding: 20px 140px 50px 140px;
}

.footer .line-1 {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 30px auto;
}
.footer .social {
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    gap: 10px;
    margin: 0 auto;
    cursor: pointer;

}

.footer .line-2 {
    width: 1320px;
    height: 2px; 
    background: rgba(255, 255, 255, 0.15);
    margin: 30px auto; 
}


.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: normal;
    margin: 0 auto; 
    padding: 20px 140px 0px 140px;
}

.button button {
    background-color: transparent;
    color: #FFF; 
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: normal;
    padding: 15px 30px; 
    border: none;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.button button:hover {
    background-color: rgba(255, 0, 0, 0.8); 

}



